Django==5.0.2
djangorestframework
drf-yasg

python-dotenv==1.0.1
django-cors-headers==4.3.1

PyJWT==2.8.0
python-jose==3.3.0
google-auth==2.27.0
requests==2.31.0

redis==5.0.1
celery==5.3.6

psycopg[binary]==3.1.18

# Dev Tools
flake8
black
isort
